
.tlo { 
   display: inline-block;
    width: 100px; 
    height:100px;
} 


.icons {
   display: inline-block;
   filter: invert(88%) sepia(79%) saturate(6281%) hue-rotate(289deg) brightness(102%) contrast(143%);
}